{{#if success_msg}}
<div class="alert alert-success alert-dismissible fade show" style="width:100%" role="alert">
  {{{success_msg}}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
  </button>
</div>
{{/if}}

{{#if error_msg}}
<div class="error d-flex justify-content-start" style="font-size: 14px; color: #FC5A5A;">
  {{{error_msg}}}
</div>
{{/if}}

{{#if warning_msg}}
<div class="alert alert-light alert-dismissible fade show" style="width:100%" role="alert">
  {{{warning_msg}}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
  </button>
</div>
{{/if}}

{{#if errors}}
{{#each errors}}
<div class="alert alert-danger alert-dismissible fade show" style="width:100%;height: 100%;" role="alert">
  {{ this.message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
  </button>
</div>
{{/each}}
{{/if}}