<div class="d-flex flex-column"
  style="width: 330px; height:100%;">

  <div class="d-flex justify-content-around mt-3 me-5">
    <h5 class="fw-bold" style="color:#E3E3E3;">My Adventure Log</h3>
  </div>

  <div class="p-2" style="border-bottom:1px solid #363636">
    <div class="d-flex justify-content-center mt-3">
      <img class="image" height=120 weight=130 src="https://i.imgur.com/w3dssj0.png"
        style="border:3px solid #8C8C8C; border-radius:50%">
    </div>
    <div class="d-flex justify-content-center mt-2">
      <p style="color:#B5B5B5">user-name</p>
    </div>
  </div>
  <br>

  <!-- <div class="d-flex justify-content-start mt-3 ms-5"-->
  <div style="width:250px;">
    <div class="p-2 justify-contect-start ms-4">
      <a href="/" style="text-decoration:none;">
        <h6 class="fw-bold" style="color:#B5B5B5; ">動態</h6>
      </a>
    </div>
  </div>


  <div class="mt-auto p-2 container d-flex  align-self-endd justify-content-start ms-3 mb-3">
    <div class="row ms-2 align-items-end" style="width: 300px;">
      <div class="col-8" style="text-decoration:none;">
        <a class="fw-bold" style="text-decoration:none; color:#B5B5B5;" href="/login">登入</a>
      </div>
      <div class="col-4">
        <a style="border:1px solid blud;text-decoration:none;" href="/setting"><i class="fa-solid fa-gear"
            style="color:#B5B5B5;"></i></a>
      </div>
    </div>
  </div>
</div>