<div class="container-fiuld">
  <div class="row">
    <div class="col-2">
      {{> nav-left}}
    </div>

    <div class="col-6" style="border:1px solid red; width:80%;">
      <div class="d-flex justify-content-center align-items-start">
        <h6>新增</h6>
      </div>
    </div>
  

  </div>
</div>




    