<div class="row" style="min-height:100vh;">

  <div class="col-12" style="background-color:#072131;background-image: url('https://i.imgur.com/3IYZ3NC.png');height:1500px;background-repeat:no-repeat;">
    <div class="container d-flex justify-content-center align-items-center" style="width:50%;margin-top:400px;">
      {{> message}}
    </div>
    <div class="container d-flex justify-content-center align-items-center" style="height: 41%; width: 50%;">
      <div class="card" style="width: 100%; height:100%; background-color:#202a3c; border:3px solid #F5F5F5;">
        <div class="card-header d-flex justify-content-center mt-1" style="border-bottom:2px solid #F5F5F5;">
          <h5 style="color:#F5F5F5;">註冊</h5>
        </div>
        <div class="d-flex flex-row">
          <div style="width: 40%">
            <div class="card" style="height: 20rem; width: 18rem;background-color:#202a3c; border-style:none;">
              <img src="https://i.imgur.com/c56X96u.png" class="card-img-top" alt="...">
              <div class="card-body mt-2">
                <p class="card-text" style="color:#CFCFCF; font-size:18px;">「The greatest danger to our planet is the belief that someone else will save it.」
                </p>
                <p class="card-text text-end me-2" style="color:#CFCFCF; font-size:17px;"> - Robert Swan
                </p>
              </div>
            </div>
          </div>
          <div class="card-body" style="width: 60%;">
    
            <form class="form-signup" action="/register" method="POST" style="width: 100%;">
              <div class="form-row mb-3">
                <label class="form-label" for="name" style="color:#F5F5F5;">名稱</label>
                <input type="text" id="name" name="name" class="form-control" maxlength="20" placeholder="Name" required value="{{ name }}">
              </div>
              <div class="form-row mb-3">
                <label class="form-label" for="email" style="color:#F5F5F5;">電子信箱</label>
                <input type="text" id="email" name="email" class="form-control" placeholder="Email" required
                  value="{{ email }}">
              </div>
              <div class="form-row mb-3">
                <label class="form-label" for="password" style="color:#F5F5F5;">密碼</label>
                <input type="password" id="password" name="password" class="form-control" maxlength="20" placeholder="最多可輸入20個字" required>
              </div>
              <div class="form-row mb-3">
                <label class="form-label" for="passwordCheck" style="color:#F5F5F5;">密碼確認</label>
                <input type="password" id="passwordCheck" name="passwordCheck" maxlength="20" class="form-control"
                  placeholder="Password Check" required>
              </div>
              <button class="btn btn-outline-light btn-block mt-2" type="submit">註冊</button>
              
            </form>
            <div class="me-2 text-end">
              <p style="color:#CFCFCF; font-size:16px;">已經有帳號了嗎？ &nbsp;<a href="/login" style="color:#CFCFCF;text-decoration:none; font-size:16px;">點我登入</a></p>
            </div>
          </div>
    
        </div>
    
    
      </div>
    </div>




  </div>
</div>