<div class="row" style="min-height:100vh">
  <div class="col-2" style="background-color:#303030;">
    {{> nav-left}}
  </div>


  <div class="col-10" style="background-color:#202a3c">
    
  </div>

</div>  